PORT=3000
MONGO_URI=mongodb://root:example@mongodb:27017/addressMappingDB?authSource=admin
WALLET_PASSWORD=
STAGENET_MONERO_NODE='http://singapore.node.xmr.pm:38081'
COINGECKO_API=https://api.coingecko.com/api/v3/simple/price
COINGECKO_PARAMS=?ids=ethereum,monero&vs_currencies=usd
SEPOLIA_RPC_URL=
PRIVATE_KEY=
